.feed{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    .title{
        text-align: center;
        flex-basis: 100%;
    }
    .post{
        width: 28%;
        margin: 1rem;
        box-shadow: 0 2px 10px 0 rgba(93, 93, 93, 0.2);;
        padding: 0.75rem 0.75rem;
        border-radius: 10px;
        .image{
            width: 100%;
        }
        .accordion{
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s;
            padding: 0 1rem;
            &__button{
                border: none;
                
            }
        }
    }
    .post:hover{
        cursor: pointer;
        .accordion{
            max-height: 100rem;
        }
    }
}